MF_PruebasSPEI/Web References/swMF/ServiciosMF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="recibeAbono">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="recibeAbonoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recibeAbonoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambioEstado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDocument">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambioEstadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cambioEstadoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="recibeInstituciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlInstituciones">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="recibeInstitucionesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="recibeAbonoSoapIn">
    <wsdl:part name="parameters" element="tns:recibeAbono" />
  </wsdl:message>
  <wsdl:message name="recibeAbonoSoapOut">
    <wsdl:part name="parameters" element="tns:recibeAbonoResponse" />
  </wsdl:message>
  <wsdl:message name="cambioEstadoSoapIn">
    <wsdl:part name="parameters" element="tns:cambioEstado" />
  </wsdl:message>
  <wsdl:message name="cambioEstadoSoapOut">
    <wsdl:part name="parameters" element="tns:cambioEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="recibeInstitucionesSoapIn">
    <wsdl:part name="parameters" element="tns:recibeInstituciones" />
  </wsdl:message>
  <wsdl:message name="recibeInstitucionesSoapOut">
    <wsdl:part name="parameters" element="tns:recibeInstitucionesResponse" />
  </wsdl:message>
  <wsdl:portType name="serviciosMFSoap">
    <wsdl:operation name="recibeAbono">
      <wsdl:input message="tns:recibeAbonoSoapIn" />
      <wsdl:output message="tns:recibeAbonoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cambioEstado">
      <wsdl:input message="tns:cambioEstadoSoapIn" />
      <wsdl:output message="tns:cambioEstadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="recibeInstituciones">
      <wsdl:input message="tns:recibeInstitucionesSoapIn" />
      <wsdl:output message="tns:recibeInstitucionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviciosMFSoap" type="tns:serviciosMFSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recibeAbono">
      <soap:operation soapAction="http://tempuri.org/recibeAbono" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambioEstado">
      <soap:operation soapAction="http://tempuri.org/cambioEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibeInstituciones">
      <soap:operation soapAction="http://tempuri.org/recibeInstituciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviciosMFSoap12" type="tns:serviciosMFSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recibeAbono">
      <soap12:operation soapAction="http://tempuri.org/recibeAbono" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambioEstado">
      <soap12:operation soapAction="http://tempuri.org/cambioEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibeInstituciones">
      <soap12:operation soapAction="http://tempuri.org/recibeInstituciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviciosMF">
    <wsdl:port name="serviciosMFSoap" binding="tns:serviciosMFSoap">
      <soap:address location="http://fondos-dbdev/ServiciosMF/ServiciosMF.asmx" />
    </wsdl:port>
    <wsdl:port name="serviciosMFSoap12" binding="tns:serviciosMFSoap12">
      <soap12:address location="http://fondos-dbdev/ServiciosMF/ServiciosMF.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>